@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #fff;
    
   
}
header{
    margin-left: 8%;
    margin-right: 8%;
}
section{
    margin-top: 100px;
    margin-left: 12%;
    margin-right: 12%;
}

.title{
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}


.heading{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

}
.left-heading{
    width:582px;
    height:269px;
}
.heading-title{
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
}
.heading-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

}
.left-heading a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    
}
.right-heading{
    margin-left: 136px;
    width: 475px;
    height: 475px;
}
.right-heading img{
    width: 100%;
}

.section-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;

}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin: 0 220px;
    
}

.card{
    width: 329px;
    height: 476px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: auto auto;
    margin: 0px 5px;
    border-radius: 5px;
    
   
}


.card img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    margin-left: 14px;
    margin-top: 15px;
}

.card-details{
    margin-left: 14px;
}
.card-title{
    font-size: 28px;
    font-weight: 500;
    line-height: .8;
}
.card-price{
    font-size: 24px;
    font-weight: 400;
    margin-top: 6px;
    line-height: .8;
}
.card-rating{
    font-size: 14px;
    line-height: 0.8;
    color: orange;
}
.rating{
    color: #787885;
    font-size: 14px;
}
.card-text{
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    color: #787885;
    line-height: 0.8;
}
.see-btn{
    position: relative;
    text-align: right;
}
.see-more{
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    right: -50px;
}
.see-more a{
    text-decoration: none;
    color: #E02C6D;

}

footer{
    display: flex;
    margin: 100px auto 0 auto;
    height: 240px;
    background-color: #0A0826;
    color: #fff;

}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: .3;
    margin-left: 40%;
    margin-right: 30%;
}
.footer-content h1{
    font-size: 24px;
    font-weight: 700;

}
.footer-content p{
    font-size: 14px;
    font-weight: 700;

}
.icons{
    display: flex;
    margin: 0px 5px;
    flex-direction: row;

}
.fab{
    background-color: #22213C;
    padding: 6px;
    margin: 0px 5px;
    border-radius: 50%;
}




@media only screen and (max-width:688px) {
    header, section{
        margin-left:0;
        margin-right:0;
    }
    .title{
        text-align: center;
    }
    .heading, .cards{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .left-heading{
       width: 100%;
       text-align: center;
       order: 2;
    }
    .right-heading{
        width: 100%;
        order: 1;
        
    }
    
    .heading-title{
        font-size: 28px;
        line-height: 1.5em;
    }
    .heading-text{
        font-size: 14px;
    }
    .see-more{
        right: 280px;
    }

    .footer-content h1{
        font-size: 16px;
    }
    .footer-content p{
        font-size: 8px;

}


