@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #fff;
   
}
.container{
    max-width: 1200px;
    margin: 100px auto;
    
}

.title{
    font-size: 24px;
    font-weight: 700;
}

.heading{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

}
.left-heading{
    width:582px;
    height:269px;
}
.heading-title{
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
}
.heading-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

}
.left-heading a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    
}
.right-heading{
    margin-left: 136px;
    width: 475px;
    height: 475px;
}
.right-heading img{
    width: 100%;
}

.section-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;

}

.card{
    width: 329px;
    height: 476px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: auto auto;
    margin: 0px 5px;
    border-radius: 5px;
    
   
}


.card img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    margin-left: 14px;
    margin-top: 15px;
}

.card-details{
    margin-left: 14px;
}
.card-title{
    font-size: 28px;
    font-weight: 500;
    line-height: .8;
}
.card-price{
    font-size: 24px;
    font-weight: 400;
    margin-top: 6px;
    line-height: .8;
}
.card-rating{
    font-size: 14px;
    line-height: 0.8;
    color: orange;
}
.rating{
    color: #787885;
    font-size: 14px;
}
.card-text{
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    color: #787885;
    line-height: 0.8;
}